
nav {
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  padding:25px;
  justify-content: flex-start;
  background-color: white;
  
  
}
nav img{
  height: 80px;
}
nav ul{
  display: flex;
  flex-direction: row;
 
}
nav a{
  text-decoration: none;
  color:#3B8268;
  font-weight: bold;
  padding:25px;
  font-family: 'Heebo', sans-serif;
  font-size: 1.5em
}

nav a:hover {
  color:black;
}
body{
  margin-top: 125px;
  height: 125vh;
  padding-top: 15px;
  background-color: #E7ECE0;
}
li{
  display: flex;

}

.recipe-wrapper{
  border: 2px solid red;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.recipe-items{
  border: 2px solid green;
  min-width: 30%;
  margin:10px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.recipes-items a{
  border:10px solid blue;

}

.welcome-message{
  display:flex;
  border:solid black;
  flex-direction: column;
  align-items: center;
}