nav {
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 25px;
  justify-content: flex-start;
  background: #4da19c;
  z-index: 1;
}
nav img {
  height: 80px;
  padding: 0px;
}
nav ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 25px;
  /* font-family: "Heebo", sans-serif; */
  font-size: 1.5em;
}

nav a:hover {
  color: #f05642;
}

.register-wrapper,
.login-wrapper {
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #4da19c;
  padding: 5px 0 30px 0;
  margin: 20px;
  border-radius: 5px;
  min-width: 300px;
  max-width: 500px;
  align-items: center;
  align-content: center;
  border: 1px solid rgb(160, 160, 160, 0.5);
  box-shadow: 1px 1px 2px 0.5px #cbcbcb8a;
  margin: auto;
  margin-top: 10%;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 10%;
  font-family: "Heebo", sans-serif;
}
.register-title,
.login-title {
  font-size: 35px;
  font-weight: 200;
  margin: 2px;
  color: white;
  text-align: center;
}
.switch-sign-in {
  padding: 20px;
  text-decoration: none;
  color: #515161;
}

label {
  font-size: 15px;
  text-align: left;
  padding: 0px 10px;
  color: #515161;
}
.login-form > input {
  text-align: left;
  width: 90%;
  padding: 10px;
  margin: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  color: white;
  /* font-family: "Heebo", sans-serif; */
  margin: 20px;
}
.preview-recipe-message {
  color: #515161;
  font-size: 20px;
  font-weight: 200;
}

input {
  width: 95%;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(160, 160, 160, 0.5);
  /* border-radius: px; */
  outline: 1px solid rgba(255, 255, 255, 0);
  font-size: 16px;
}

input[type="password"] {
  margin-bottom: 20px;
}

li {
  display: flex;
}

.recipes-items a {
  /* border: 10px solid blue; */
}
.create-form-wrapper,
.update-form-wrapper {
  border: 1px solid rgb(160, 160, 160, 0.5);
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  color: #f05642;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}
.create-form-wrapper > label,
.update-form-wrapper > label {
  text-align: left;
  color: #f05642;
}

.create-title,
.all-recipes-title {
  color: #f05642;
  text-align: center;
  margin: 2px;
  font-size: 40px;
}

.all-recipes-title {
  padding: 10px;
}

.all-recipes-dish-name {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #f05642;
}
.category-select {
  padding: 10px;
}

.welcome-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}

.welcome-message {
  font-size: 40px;
  font-family: "Heebo", sans-serif;
  color: #4da19c;
}

.directions-input,
.ingredients-input {
  width: 750px;
  height: 250px;
  margin: 20px;
}
.carousel-image {
  height: 550px;
  margin-top: 20px;
}

.directions {
  width: fit-content;
}

.featured-items {
  text-align: center;
  /* font-family: "Heebo", sans-serif; */
  color: #f05642;
  font-size: 40px;
  font-weight: 600;
  margin-top: 10%;
}

button {
  color: #f05642;
  background: white;
  border: 3px solid #f05642;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  background-color: #f05642;
  color: white;
}

.arrows {
  font-size: 50px;
  color: #f05642;
}

.recipe-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.recipe-items {
  min-width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-recipes-image {
  height: 450px;
  width: 500px;
  /* width: 90%; */
  object-fit: cover;
}

.recipe-detail-image {
  width: 600px;
  height: 600px;
}
.details-recipe-wrapper {
  display: flex;
}

.details-recipes-wrapper > img {
  align-self: flex-start;
}
.details-recipes-wrapper > h1 {
  flex-direction: column;
  align-items: flex-end;
}

.footer {
  font-size: 15px;
  font-weight: 100;
  color: #515161;
  text-align: center;
  /* position: fixed; */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .login-wrapper,
  .register-wrapper {
    margin: auto;
  }
}
